# OPENAI_API_KEY=
# GOOGLE_API_KEY=
GROQ_API_KEY=
export LANGSMITH_TRACING=true
# export LANGSMITH_ENDPOINT=https://api.smith.langchain.com
export LANGSMITH_API_KEY=
export LANGSMITH_PROJECT=search-agent
# export OPENAI_API_KEY=<your-openai-api-key>
# TAVILY_API_KEY=

INDEX_NAME=as_appears_in_your_pinecone.io_index
PINECONE_API_KEY=